// Copy to clipboard links
.hljs{
  position: relative;
}
.copy-to-clipboard{
  border: 0;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  color: rgb(150,150,150);
  display: inline-block;
  font-size: 0.85rem;
  padding: 0.75em 1em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
  /*text-transform: uppercase;*/
}
.copy-to-clipboard:hover{
  background: #fff;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  color: rgb(150,150,150);
}