{{!--
  Renders the HTML head content
--}}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{info.title}} | API Reference</title>

{{#if favicon}}
  <link rel="shortcut icon" type="image/x-icon" href="{{favicon}}" />
{{/if}}

<link rel="stylesheet" href="stylesheets/foundation.min.css" />
<link rel="stylesheet" href="stylesheets/spectacle.min.css" />
<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
<script src="https://use.fontawesome.com/b34871bc44.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- <script src="javascripts/foundation.js"></script> -->
<script src="javascripts/spectacle.min.js"></script>
<script src="javascripts/vendors/ScrollMagic.min.js"></script>
<script src="javascripts/vendors/debug.addIndicators.min.js"></script>